test/xsd_sample.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="order" type="Order"/>

  <xs:simpleType name="Priority">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Low"/>
      <xs:enumeration value="Medium"/>
      <xs:enumeration value="High"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Price">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Circle">
    <xs:attribute name="radius" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name="Square">
    <xs:attribute name="side" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element name="priority" type="Priority"/>
      <xs:element name="total" type="Price"/>
      <xs:element name="placed" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="note" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="parent" type="Order" minOccurs="0"/>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="circle" type="Circle"/>
        <xs:element name="square" type="Square"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required"/>
  </xs:complexType>
</xs:schema>
